html,
body,
div,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  text-align: left;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal;
}
img {
  border: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*
81B3B2 mod
4C4C4C sed
D8D3BF zlut
D47E5B oran
4B4E57 cern ?
23548C mode
D25857 cer
ABC4C0 zel
D98873 oran*/
@font-face {
  font-family: "Conv_Gotham-Book";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg") format("svg");
}
@font-face {
  font-family: "Conv_Gotham-Medium";
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg") format("svg");
}
.span100,
.span25,
.span50,
.span75,
.span33,
.span66 {
  float: left;
  padding: 0;
  margin: 0;
}
.span100 {
  width: 100%;
}
.span25 {
  width: 25%;
}
.span50 {
  width: 50%;
}
.span75 {
  width: 75%;
}
.span33 {
  width: 33.33%;
}
.span66 {
  width: 66.66%;
}
.well {
  margin: 5px;
  padding: 5px;
}
.well > p {
  margin: 5px 0;
}
html {
  background: white;
  color: black;
  font-size: 19px;
}
body {
  font-family: "Conv_Gotham-Medium", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 21px;
  -webkit-font-smoothing: antialiased;
  color: black;
  min-height: 740px;
}
.clear {
  clear: both;
}
.progress {
  background: #bfbfbf;
  border: 1px solid #bfbfbf;
  width: 150px;
  height: 20px;
  margin: 10px 10px 5px;
  display: block;
  position: relative;
  text-indent: -1000px;
  overflow: hidden;
}
.progress:before {
  display: block;
  content: "";
  background: #6ecdde;
  border: 1px solid #6ecdde;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
}
.progress.percent-90:before {
  right: 10%;
}
.progress.percent-80:before {
  right: 20%;
}
.progress.percent-70:before {
  right: 30%;
}
.progress.percent-60:before {
  right: 40%;
}
.progress.percent-50:before {
  right: 50%;
}
.progress.percent-10:before {
  right: 90%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  border-bottom: 2px dotted black;
}
th,
td {
  line-height: 1.8;
}
th {
  text-align: right;
  color: #6ecdde;
  padding-right: 5px;
}
td,
td a {
  color: #999;
  border-color: #999;
}
.page {
  width: 920px;
  margin: 0 auto;
}
.header {
  padding: 25px 0 10px;
  border-bottom: 3px solid black;
}
.header h1 {
  font-size: 72px;
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
}
.header h2 {
  font-size: 26px;
  text-align: center;
  font-style: italic;
  padding: 5px 0;
  margin: 0;
}
h3 {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 2px;
}
#education span,
#objective span,
#reference span,
#reference a {
  color: #999;
  border-color: #999;
}
#education,
#reference {
  font-size: 18px;
}
#experience h3 {
  margin-right: 20px;
}
#experience .records {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
#experience .records .dates {
  float: left;
  width: 20%;
  font-size: 18px;
  text-align: right;
  margin-top: 4px;
}
#experience .records .entry {
  margin-left: 20%;
  padding-left: 20px;
}
#experience .records .entry h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 5px;
  padding-top: 4px;
}
#experience .records .entry h5 {
  font-size: 20px;
  color: #6ecdde;
  margin: 0 0 5px;
}
#experience .records .entry .desc {
  font-size: 14px;
  line-height: 1.3;
  color: #999;
  margin: 0 0 15px;
  display: block;
}
#experience .records .entry .desc p {
  margin: 8px 0;
}
#experience .records .entry .desc p.small {
  font-size: 11px;
}
#experience .records .entry .desc ul {
  margin: 0;
  padding: 0;
}
#experience .records .entry .desc ul li {
  list-style-position: inside;
  list-style-type: disc;
  font-size: 14px;
  line-height: 1.3;
}
#skills > ul {
  margin: 0;
  padding: 0;
}
#skills > ul > li {
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding-bottom: 5px;
  vertical-align: middle;
  list-style-type: none;
}
#skills > ul > li h4 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #6ecdde;
}
#skills > ul > li p {
  margin: 5px 0;
  font-size: 18px;
  padding: 6px 0;
}
#skills > ul > li ul {
  margin: 0;
  padding: 0;
}
#skills > ul > li ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 5px 0 7px;
  line-height: 1.3;
  color: #999;
}
#skills > ul > li ul li strong {
  color: black;
}
#banner {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: #6ecdde;
}
#banner a {
  color: #6ecdde;
}
