html,
body,
div,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  text-align: left;
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal;
}
img {
  border: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*
81B3B2 mod
4C4C4C sed
D8D3BF zlut
D47E5B oran
4B4E57 cern ?
23548C mode
D25857 cer
ABC4C0 zel
D98873 oran*/
@font-face {
  font-family: 'Conv_Gotham-Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg') format('svg');
}
@font-face {
  font-family: 'Conv_Gotham-Light';
  src: url('../fonts/Gotham-Light.eot');
  src: url('../fonts/Gotham-Light.woff') format('woff'), url('../fonts/Gotham-Light.ttf') format('truetype'), url('../fonts/Gotham-Light.svg') format('svg');
}
.span100,
.span25,
.span50,
.span75,
.span33,
.span66 {
  float: left;
  padding: 0;
  margin: 0;
}
.span100 {
  width: 100%;
}
.span25 {
  width: 25%;
}
.span50 {
  width: 50%;
}
.span75 {
  width: 75%;
}
.span33 {
  width: 33.33%;
}
.span66 {
  width: 66.66%;
}
.well {
  margin: 5px;
  padding: 5px;
}
.well > p {
  margin: 5px 0;
}
html {
  background: white;
  color: black;
}
body {
  font-family: "Conv_Gotham-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
.head {
  padding: 10px 20px;
}
.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}
.fallback-message p {
  margin-bottom: 10px;
}
.impress-supported .fallback-message {
  display: none;
}
/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'PT Serif', georgia, serif;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid red;
}
.step .images a img {
  width: 128px;
}
.hint {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #bbb;
  font-size: 25px;
  padding: 10px 20px;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition: opacity 1s, -moz-transform 0.5s 1s;
  -ms-transition: opacity 1s, -ms-transform 0.5s 1s;
  -o-transition: opacity 1s, -o-transform 0.5s 1s;
  transition: opacity 1s,         transform 0.5s 1s;
}
/*
    Now we 'enable' the hint when presentation is initialized ...
*/
.impress-enabled .hint {
  display: block;
}
/*
    ... and we will show it when the first step (with id 'bored') is active.
*/
.impress-on-bored .hint {
  /*
        We remove the transparency and position the hint in its default fixed
        position.
    */
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  /*
        Now for fade in transition we have the oposite situation from the one
        above.

        First after 4.5s delay we animate the transform property to move the hint
        into its correct position and after that we fade it in with opacity
        transition.
    */
  -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
  -moz-transition: opacity 1s 5s, -moz-transform 0.5s 4.5s;
  -ms-transition: opacity 1s 5s, -ms-transform 0.5s 4.5s;
  -o-transition: opacity 1s 5s, -o-transform 0.5s 4.5s;
  transition: opacity 1s 5s,         transform 0.5s 4.5s;
}
.pods .pod {
  width: 33.33333333%;
  float: left;
}
.pods .pod.color-1 .colored {
  background-color: #d98873;
}
.pods .pod.color-2 .colored {
  background-color: #0193cf;
}
.pods .pod.color-3 .colored {
  background-color: #d0a92a;
}
.pods .pod.color-4 .colored {
  background-color: #d34726;
}
.pods .pod.color-5 .colored {
  background-color: #7ebb42;
}
.pods .pod.color-6 .colored {
  background-color: #fa9101;
}
.pods .pod.color-7 .colored {
  background-color: #404d56;
}
.pods .pod.color-8 .colored {
  background-color: #378589;
}
.pods .pod.color-9 .colored {
  background-color: #0193cf;
}
.pods .pod.color-10 .colored {
  background-color: #d0a92a;
}
.pods .pod.color-11 .colored {
  background-color: #98dafc;
}
.pods .pod.color-12 .colored {
  background-color: #7ebb42;
}
.pods .pod.color-13 .colored {
  background-color: #fa9101;
}
.pods .pod.color-14 .colored {
  background-color: #404d56;
}
.pods .pod .square {
  cursor: pointer;
  margin: 4px;
  height: 140px;
}
.pods .pod .square .title h3 {
  color: white;
  line-height: 140px;
  text-align: center;
  margin: 0;
}
.pods .pod .square img {
  width: 100%;
}
.pods .pod .square:hover {
  opacity: 0.7;
}
.pods .pod .modal-header,
.pods .pod .description,
.pods .pod .actions,
.pods .pod .tags {
  display: none;
}
.pods .pod.expanded {
  display: block;
  position: fixed;
  width: 600px;
  left: 50%;
  top: 50px;
  margin-left: -300px;
  background: white;
  -webkit-box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.6);
}
.pods .pod.expanded .square {
  display: none;
}
.pods .pod.expanded .modal-header,
.pods .pod.expanded .description,
.pods .pod.expanded .actions,
.pods .pod.expanded .tags {
  display: block;
}
.pods .pod.expanded .tags {
  display: none;
  margin: 0;
  padding: 2px;
}
.pods .pod.expanded .tags li {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pods .pod.expanded .modal-header {
  position: relative;
}
.pods .pod.expanded .modal-header .btn-close {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  text-indent: 3000px;
  line-height: 3000px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGpJREFUeNpiYIAAAyBeD8QCDLiBAFSNAQOSpvdA/B+Iz+PQLACV+w9VC9a8HirwH4dmZE0wvB6XBEwzPjkGfJrPE3ANTs0ENRHSjKGJiYEKgCynkhU4ZEcH2QmA7CQH07yfiES+H6YJIMAAhJZcwZLuGCIAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-position: center center;
}
.pods .pod.expanded .modal-header .btn-close:hover {
  background-color: #ffffff;
}
.pods .pod.expanded .modal-header .title {
  padding: 0 0 0 4px;
  font-family: "Conv_Gotham-Light", Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.pods .pod.expanded .modal-header .title h3 {
  text-transform: uppercase;
  margin: 0;
  line-height: 40px;
  display: inline;
  color: white;
}
.pods .pod.expanded .screenshots {
  margin: 20px 10px;
  padding: 0;
  *zoom: 1;
  text-align: center;
}
.pods .pod.expanded .screenshots:before,
.pods .pod.expanded .screenshots:after {
  display: table;
  content: "";
  line-height: 0;
}
.pods .pod.expanded .screenshots:after {
  clear: both;
}
.pods .pod.expanded .screenshots li {
  display: inline-block;
  width: 45.0%;
  margin: 0;
  padding: 0;
}
.pods .pod.expanded .screenshots li .screen {
  padding: 0 10px;
}
.pods .pod.expanded .screenshots li .screen img {
  width: 100%;
  padding: 6px;
  -webkit-box-shadow: 0px 0 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0 3px 0 rgba(0, 0, 0, 0.3);
}
.pods .pod.expanded .screenshots.single li {
  width: 80.0%;
}
.pods .pod.expanded .description {
  margin: 20px 20px;
}
.pods .pod.expanded .description .ptt {
  background: #D34726;
  color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
}
.pods .pod.expanded .description .contrib {
  background: ivory;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px;
}
.pods .pod.expanded .actions {
  margin: 10px 5px 5px;
  padding: 0;
  list-style-type: none;
  *zoom: 1;
}
.pods .pod.expanded .actions:before,
.pods .pod.expanded .actions:after {
  display: table;
  content: "";
  line-height: 0;
}
.pods .pod.expanded .actions:after {
  clear: both;
}
.pods .pod.expanded .actions li a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  margin: 3px;
  display: block;
  float: right;
}
.pods .pod.expanded .actions li a:hover {
  opacity: 0.8;
}
@media only screen and (max-width: 768px) {
  .pods .pod {
    width: 100%;
    float: left;
  }
  .pods .pod.expanded {
    width: auto;
    max-width: 600px;
  }
}
