@font-face {
  font-family: "Conv_Gotham-Book";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.woff") format("woff"),
    url("../fonts/Gotham-Book.ttf") format("truetype"),
    url("../fonts/Gotham-Book.svg") format("svg");
}

@font-face {
  font-family: "Conv_Gotham-Medium";
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.woff") format("woff"),
    url("../fonts/Gotham-Medium.ttf") format("truetype"),
    url("../fonts/Gotham-Medium.svg") format("svg");
}

.font-default() {
  font-family: "Conv_Gotham-Book", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-default(@size) {
  font-family: "Conv_Gotham-Book", Arial, Helvetica, sans-serif;
  font-size: @size;
}

.font-medium() {
  font-family: "Conv_Gotham-Medium", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-medium(@size) {
  font-family: "Conv_Gotham-Medium", Arial, Helvetica, sans-serif;
  font-size: @size;
}

.font-title() {
  //    font-family: "Conv_Gotham-Book", Arial, Helvetica, sans-serif;
}

.font-title(@size) {
  //    font-family: "Conv_Gotham-Book", Arial, Helvetica, sans-serif;
  //    font-size: @size;
}
