@podColumnsCount: 4;
@thumbnailHeight: 140px;

@backgroundColor: white;
@black: black;
@gray: #aaa;



@bgColor1: #D98873;
@bgColor2: #0193CF;
@bgColor3: #D0A92A;
@bgColor4: #D34726;
@bgColor5: #7EBB42;
@bgColor6: #FA9101;
@bgColor7: #404D56;

/*@bgColor1: #E43D19;
@bgColor2: #0193CF;
@bgColor3: #D0A92A;
@bgColor4: #98DAFC;
@bgColor5: #7EBB42;
@bgColor6: #FA9101;
@bgColor7: #404D56;


81B3B2 mod
4C4C4C sed
D8D3BF zlut
D47E5B oran
4B4E57 cern ?
23548C mode
D25857 cer
ABC4C0 zel
D98873 oran*/
